
2D RCM GitHub
absoft_run_env.sh
.DS_Store
2D RCM GitHub
2D RCM GitHub.atools
2D RCM GitHub.dSYM/Contents/Info.plist
2D RCM GitHub_for_atools.fx3
absoft_run_env.sh
*.o
*.mod
absoft_run_env.sh
*.amake
makefile.amake.bk
.DS_Store
2D RCM GitHub
2D RCM GitHub.atools
_Raw Output Data/2019-03-25 11_08_26
_Raw Output Data/2019-03-25 11_09_39
_Raw Output Data/2019-03-25 11_11_20
_Raw Output Data/2019-03-25 11_17_20
taug printout pico2=1.0
_Raw Output Data/2019-03-25 18_19_52
_Raw Output Data/2019-03-25 18_24_19
_Raw Output Data/2019-03-25 18_25_49
_Raw Output Data/2019-03-25 18_45_47
_Raw Output Data/2019-03-25 18_49_05
_Raw Output Data/2019-03-25 18_50_52
_Raw Output Data/2019-03-26 10_17_45
_Raw Output Data/2019-03-26 10_19_18
_Raw Output Data/2019-03-26 10_20_40
_Raw Output Data/2019-03-26 10_22_53
_Raw Output Data/2019-03-26 10_25_25
_Raw Output Data/2019-03-26 10_25_31
_Raw Output Data/2019-03-26 10_26_01
.DS_Store
makefile.amake
makefile.amake.bk
makefile_base.amake
_Raw Output Data/2019-03-26 10_32_04
_Raw Output Data/2019-03-26 10_37_31
_Raw Output Data/2019-03-26 10_44_04
_Raw Output Data/
fort.10
fort.61
fort.62
fort.63
fort.10
fort.10
_Current Output/
_Current Output/2019-03-26 14_32_47
Input Distributions/
_Useful Data/
Input Distributions/ccfracs col  0
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/q vert col  0
Input Distributions/ccfracs col  0
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/q vert col  0
.DS_Store
fort.10
Read and plot 2D RCM output data [Pandas].py
Input Distributions/ccalts col  0
Input Distributions/ccalts col  1
Input Distributions/ccalts col  2
Input Distributions/ccalts col  3
Input Distributions/ccalts col  4
Input Distributions/ccalts col  5
Input Distributions/ccalts col  6
Input Distributions/ccfracs col  0
Input Distributions/ccfracs col  1
Input Distributions/ccfracs col  2
Input Distributions/ccfracs col  3
Input Distributions/ccfracs col  4
Input Distributions/ccfracs col  5
Input Distributions/ccfracs col  6
Input Distributions/cctaus col  0
Input Distributions/cctaus col  1
Input Distributions/cctaus col  2
Input Distributions/cctaus col  3
Input Distributions/cctaus col  4
Input Distributions/cctaus col  5
Input Distributions/cctaus col  6
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/o3 vert col  5
Input Distributions/o3 vert col  6
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/q vert col  5
Input Distributions/q vert col  6
Input Distributions/ccalts col  0
Input Distributions/ccalts col  1
Input Distributions/ccalts col  2
Input Distributions/ccalts col  3
Input Distributions/ccalts col  4
Input Distributions/ccalts col  5
Input Distributions/ccalts col  6
Input Distributions/ccfracs col  0
Input Distributions/ccfracs col  1
Input Distributions/ccfracs col  2
Input Distributions/ccfracs col  3
Input Distributions/ccfracs col  4
Input Distributions/ccfracs col  5
Input Distributions/ccfracs col  6
Input Distributions/cctaus col  0
Input Distributions/cctaus col  1
Input Distributions/cctaus col  2
Input Distributions/cctaus col  3
Input Distributions/cctaus col  4
Input Distributions/cctaus col  5
Input Distributions/cctaus col  6
Input Distributions/ccalts col  7
Input Distributions/ccalts col  8
Input Distributions/ccalts col  9
Input Distributions/ccalts col 10
Input Distributions/ccalts col 11
Input Distributions/ccalts col 12
Input Distributions/ccalts col 13
Input Distributions/ccalts col 14
Input Distributions/ccalts col 15
Input Distributions/ccalts col 16
Input Distributions/ccalts col 17
Input Distributions/ccalts col 18
Input Distributions/ccalts col 19
Input Distributions/ccalts col 20
Input Distributions/ccalts col 21
Input Distributions/ccalts col 22
Input Distributions/ccalts col 23
Input Distributions/ccalts col 24
Input Distributions/ccalts col 25
Input Distributions/ccalts col 26
Input Distributions/ccalts col 27
Input Distributions/ccalts col 28
Input Distributions/ccalts col 29
Input Distributions/ccfracs col  7
Input Distributions/ccfracs col  8
Input Distributions/ccfracs col  9
Input Distributions/ccfracs col 10
Input Distributions/ccfracs col 11
Input Distributions/ccfracs col 12
Input Distributions/ccfracs col 13
Input Distributions/ccfracs col 14
Input Distributions/ccfracs col 15
Input Distributions/ccfracs col 16
Input Distributions/ccfracs col 17
Input Distributions/ccfracs col 18
Input Distributions/ccfracs col 19
Input Distributions/ccfracs col 20
Input Distributions/ccfracs col 21
Input Distributions/ccfracs col 22
Input Distributions/ccfracs col 23
Input Distributions/ccfracs col 24
Input Distributions/ccfracs col 25
Input Distributions/ccfracs col 26
Input Distributions/ccfracs col 27
Input Distributions/ccfracs col 28
Input Distributions/ccfracs col 29
Input Distributions/cctaus col  7
Input Distributions/cctaus col  8
Input Distributions/cctaus col  9
Input Distributions/cctaus col 10
Input Distributions/cctaus col 11
Input Distributions/cctaus col 12
Input Distributions/cctaus col 13
Input Distributions/cctaus col 14
Input Distributions/cctaus col 15
Input Distributions/cctaus col 16
Input Distributions/cctaus col 17
Input Distributions/cctaus col 18
Input Distributions/cctaus col 19
Input Distributions/cctaus col 20
Input Distributions/cctaus col 21
Input Distributions/cctaus col 22
Input Distributions/cctaus col 23
Input Distributions/cctaus col 24
Input Distributions/cctaus col 25
Input Distributions/cctaus col 26
Input Distributions/cctaus col 27
Input Distributions/cctaus col 28
Input Distributions/cctaus col 29
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/o3 vert col  5
Input Distributions/o3 vert col  6
Input Distributions/o3 vert col  7
Input Distributions/o3 vert col  8
Input Distributions/o3 vert col  9
Input Distributions/o3 vert col 10
Input Distributions/o3 vert col 11
Input Distributions/o3 vert col 12
Input Distributions/o3 vert col 13
Input Distributions/o3 vert col 14
Input Distributions/o3 vert col 15
Input Distributions/o3 vert col 16
Input Distributions/o3 vert col 17
Input Distributions/o3 vert col 18
Input Distributions/o3 vert col 19
Input Distributions/o3 vert col 20
Input Distributions/o3 vert col 21
Input Distributions/o3 vert col 22
Input Distributions/o3 vert col 23
Input Distributions/o3 vert col 24
Input Distributions/o3 vert col 25
Input Distributions/o3 vert col 26
Input Distributions/o3 vert col 27
Input Distributions/o3 vert col 28
Input Distributions/o3 vert col 29
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/q vert col  5
Input Distributions/q vert col  6
Input Distributions/q vert col  7
Input Distributions/q vert col  8
Input Distributions/q vert col  9
Input Distributions/q vert col 10
Input Distributions/q vert col 11
Input Distributions/q vert col 12
Input Distributions/q vert col 13
Input Distributions/q vert col 14
Input Distributions/q vert col 15
Input Distributions/q vert col 16
Input Distributions/q vert col 17
Input Distributions/q vert col 18
Input Distributions/q vert col 19
Input Distributions/q vert col 20
Input Distributions/q vert col 21
Input Distributions/q vert col 22
Input Distributions/q vert col 23
Input Distributions/q vert col 24
Input Distributions/q vert col 25
Input Distributions/q vert col 26
Input Distributions/q vert col 27
Input Distributions/q vert col 28
Input Distributions/q vert col 29
fort.10
fort.10
*.10
Input Distributions/cctaus col  0
Input Distributions/cctaus col  1
Input Distributions/cctaus col  2
Input Distributions/cctaus col  3
Input Distributions/cctaus col  4
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/o3 vert col  5
Input Distributions/o3 vert col  6
Input Distributions/o3 vert col  7
Input Distributions/o3 vert col  8
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/q vert col  5
Input Distributions/q vert col  6
Input Distributions/q vert col  7
Input Distributions/q vert col  8
Input Distributions/cctaus col 15
Input Distributions/cctaus col 16
Input Distributions/cctaus col 17
Input Distributions/cctaus col 18
Input Distributions/cctaus col 19
Input Distributions/cctaus col 20
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/o3 vert col  5
Input Distributions/o3 vert col  6
Input Distributions/o3 vert col  7
Input Distributions/o3 vert col  8
Input Distributions/o3 vert col  9
Input Distributions/o3 vert col 10
Input Distributions/o3 vert col 11
Input Distributions/o3 vert col 12
Input Distributions/o3 vert col 13
Input Distributions/o3 vert col 14
Input Distributions/o3 vert col 15
Input Distributions/o3 vert col 16
Input Distributions/o3 vert col 17
Input Distributions/o3 vert col 18
Input Distributions/o3 vert col 19
Input Distributions/o3 vert col 20
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/q vert col  5
Input Distributions/q vert col  6
Input Distributions/q vert col  7
Input Distributions/q vert col  8
Input Distributions/q vert col  9
Input Distributions/q vert col 10
Input Distributions/q vert col 11
Input Distributions/q vert col 12
Input Distributions/q vert col 13
Input Distributions/q vert col 14
Input Distributions/q vert col 15
Input Distributions/q vert col 16
Input Distributions/q vert col 17
Input Distributions/q vert col 18
Input Distributions/q vert col 19
Input Distributions/q vert col 20
Input Distributions/ccalts col  0
Input Distributions/ccalts col  1
Input Distributions/ccalts col  2
Input Distributions/ccalts col  3
Input Distributions/ccalts col  4
Input Distributions/ccalts col  5
Input Distributions/ccalts col  6
Input Distributions/ccalts col  7
Input Distributions/ccalts col  8
Input Distributions/ccalts col  9
Input Distributions/ccalts col 10
Input Distributions/ccalts col 11
Input Distributions/ccalts col 12
Input Distributions/ccalts col 13
Input Distributions/ccalts col 14
Input Distributions/ccalts col 15
Input Distributions/ccalts col 16
Input Distributions/ccalts col 17
Input Distributions/ccalts col 18
Input Distributions/ccalts col 19
Input Distributions/ccalts col 20
Input Distributions/ccalts col 21
Input Distributions/ccalts col 22
Input Distributions/ccalts col 23
Input Distributions/ccalts col 24
Input Distributions/ccalts col 25
Input Distributions/ccalts col 26
Input Distributions/ccalts col 27
Input Distributions/ccalts col 28
Input Distributions/ccalts col 29
Input Distributions/cctaus col 21
Input Distributions/cctaus col 22
Input Distributions/cctaus col 23
Input Distributions/cctaus col 24
Input Distributions/cctaus col 25
Input Distributions/cctaus col 26
Input Distributions/cctaus col 27
Input Distributions/cctaus col 28
Input Distributions/cctaus col 29
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/o3 vert col  5
Input Distributions/o3 vert col  6
Input Distributions/o3 vert col  7
Input Distributions/o3 vert col  8
Input Distributions/o3 vert col  9
Input Distributions/o3 vert col 10
Input Distributions/o3 vert col 11
Input Distributions/o3 vert col 12
Input Distributions/o3 vert col 13
Input Distributions/o3 vert col 14
Input Distributions/o3 vert col 15
Input Distributions/o3 vert col 16
Input Distributions/o3 vert col 17
Input Distributions/o3 vert col 18
Input Distributions/o3 vert col 19
Input Distributions/o3 vert col 20
Input Distributions/o3 vert col 21
Input Distributions/o3 vert col 22
Input Distributions/o3 vert col 23
Input Distributions/o3 vert col 24
Input Distributions/o3 vert col 25
Input Distributions/o3 vert col 26
Input Distributions/o3 vert col 27
Input Distributions/o3 vert col 28
Input Distributions/o3 vert col 29
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/q vert col  5
Input Distributions/q vert col  6
Input Distributions/q vert col  7
Input Distributions/q vert col  8
Input Distributions/q vert col  9
Input Distributions/q vert col 10
Input Distributions/q vert col 11
Input Distributions/q vert col 12
Input Distributions/q vert col 13
Input Distributions/q vert col 14
Input Distributions/q vert col 15
Input Distributions/q vert col 16
Input Distributions/q vert col 17
Input Distributions/q vert col 18
Input Distributions/q vert col 19
Input Distributions/q vert col 20
Input Distributions/q vert col 21
Input Distributions/q vert col 22
Input Distributions/q vert col 23
Input Distributions/q vert col 24
Input Distributions/q vert col 25
Input Distributions/q vert col 26
Input Distributions/q vert col 27
Input Distributions/q vert col 28
Input Distributions/q vert col 29
Input Distributions/ccalts col  0
Input Distributions/ccalts col  1
Input Distributions/ccalts col  2
Input Distributions/ccalts col  3
Input Distributions/ccalts col  4
Input Distributions/ccalts col  5
Input Distributions/ccalts col  6
Input Distributions/ccalts col  7
Input Distributions/ccalts col  8
Input Distributions/ccalts col  9
Input Distributions/ccalts col 10
Input Distributions/ccalts col 11
Input Distributions/ccalts col 12
Input Distributions/ccalts col 13
Input Distributions/ccalts col 14
Input Distributions/ccalts col 15
Input Distributions/ccalts col 16
Input Distributions/ccalts col 17
Input Distributions/ccalts col 18
Input Distributions/ccalts col 19
Input Distributions/ccalts col 20
Input Distributions/ccalts col 21
Input Distributions/ccalts col 22
Input Distributions/ccalts col 23
Input Distributions/ccalts col 24
Input Distributions/ccalts col 25
Input Distributions/ccalts col 26
Input Distributions/ccalts col 27
Input Distributions/ccalts col 28
Input Distributions/ccfracs col  0
Input Distributions/ccfracs col  1
Input Distributions/ccfracs col  2
Input Distributions/ccfracs col  3
Input Distributions/ccfracs col  4
Input Distributions/ccfracs col  5
Input Distributions/ccfracs col  6
Input Distributions/ccfracs col  7
Input Distributions/ccfracs col  8
Input Distributions/ccfracs col  9
Input Distributions/ccfracs col 10
Input Distributions/ccfracs col 11
Input Distributions/ccfracs col 12
Input Distributions/ccfracs col 13
Input Distributions/ccfracs col 14
Input Distributions/ccfracs col 15
Input Distributions/ccfracs col 16
Input Distributions/ccfracs col 17
Input Distributions/ccfracs col 18
Input Distributions/ccfracs col 19
Input Distributions/ccfracs col 20
Input Distributions/ccfracs col 21
Input Distributions/ccfracs col 22
Input Distributions/ccfracs col 23
Input Distributions/ccfracs col 24
Input Distributions/ccfracs col 25
Input Distributions/ccfracs col 26
Input Distributions/ccfracs col 27
Input Distributions/ccfracs col 28
Input Distributions/cctaus col  0
Input Distributions/cctaus col  1
Input Distributions/cctaus col  2
Input Distributions/cctaus col  3
Input Distributions/cctaus col  4
Input Distributions/cctaus col  5
Input Distributions/cctaus col  6
Input Distributions/cctaus col  7
Input Distributions/cctaus col  8
Input Distributions/cctaus col  9
Input Distributions/cctaus col 10
Input Distributions/cctaus col 11
Input Distributions/cctaus col 12
Input Distributions/cctaus col 13
Input Distributions/cctaus col 14
Input Distributions/cctaus col 15
Input Distributions/cctaus col 16
Input Distributions/cctaus col 17
Input Distributions/cctaus col 18
Input Distributions/cctaus col 19
Input Distributions/cctaus col 20
Input Distributions/cctaus col 21
Input Distributions/cctaus col 22
Input Distributions/cctaus col 23
Input Distributions/cctaus col 24
Input Distributions/cctaus col 25
Input Distributions/cctaus col 26
Input Distributions/cctaus col 27
Input Distributions/cctaus col 28
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/o3 vert col  5
Input Distributions/o3 vert col  6
Input Distributions/o3 vert col  7
Input Distributions/o3 vert col  8
Input Distributions/o3 vert col  9
Input Distributions/o3 vert col 10
Input Distributions/o3 vert col 11
Input Distributions/o3 vert col 12
Input Distributions/o3 vert col 13
Input Distributions/o3 vert col 14
Input Distributions/o3 vert col 15
Input Distributions/o3 vert col 16
Input Distributions/o3 vert col 17
Input Distributions/o3 vert col 18
Input Distributions/o3 vert col 19
Input Distributions/o3 vert col 20
Input Distributions/o3 vert col 21
Input Distributions/o3 vert col 22
Input Distributions/o3 vert col 23
Input Distributions/o3 vert col 24
Input Distributions/o3 vert col 25
Input Distributions/o3 vert col 26
Input Distributions/o3 vert col 27
Input Distributions/o3 vert col 28
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/q vert col  5
Input Distributions/q vert col  6
Input Distributions/q vert col  7
Input Distributions/q vert col  8
Input Distributions/q vert col  9
Input Distributions/q vert col 10
Input Distributions/q vert col 11
Input Distributions/q vert col 12
Input Distributions/q vert col 13
Input Distributions/q vert col 14
Input Distributions/q vert col 15
Input Distributions/q vert col 16
Input Distributions/q vert col 17
Input Distributions/q vert col 18
Input Distributions/q vert col 19
Input Distributions/q vert col 20
Input Distributions/q vert col 21
Input Distributions/q vert col 22
Input Distributions/q vert col 23
Input Distributions/q vert col 24
Input Distributions/q vert col 25
Input Distributions/q vert col 26
Input Distributions/q vert col 27
Input Distributions/q vert col 28
Input Distributions/ccfracs col  0
Input Distributions/ccfracs col  1
Input Distributions/ccfracs col  2
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/o3 vert col  5
Input Distributions/o3 vert col  6
Input Distributions/o3 vert col  7
Input Distributions/o3 vert col  8
Input Distributions/o3 vert col  9
Input Distributions/o3 vert col 10
Input Distributions/o3 vert col 11
Input Distributions/o3 vert col 12
Input Distributions/o3 vert col 13
Input Distributions/o3 vert col 14
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/q vert col  5
Input Distributions/q vert col  6
Input Distributions/q vert col  7
Input Distributions/q vert col  8
Input Distributions/q vert col  9
Input Distributions/q vert col 10
Input Distributions/q vert col 11
Input Distributions/q vert col 12
Input Distributions/q vert col 13
Input Distributions/q vert col 14
Input Distributions/ccfracs col  0
Input Distributions/ccfracs col  1
Input Distributions/ccfracs col  2
Input Distributions/ccfracs col  3
Input Distributions/ccfracs col  4
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/o3 vert col  3
Input Distributions/o3 vert col  4
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
Input Distributions/q vert col  3
Input Distributions/q vert col  4
Input Distributions/ccalts col  0
Input Distributions/ccalts col  1
Input Distributions/ccalts col  2
Input Distributions/ccfracs col  0
Input Distributions/ccfracs col  1
Input Distributions/ccfracs col  2
Input Distributions/cctaus col  0
Input Distributions/cctaus col  1
Input Distributions/cctaus col  2
Input Distributions/fal lats
Input Distributions/o3 vert col  0
Input Distributions/o3 vert col  1
Input Distributions/o3 vert col  2
Input Distributions/q vert col  0
Input Distributions/q vert col  1
Input Distributions/q vert col  2
